# Домашнее задание 2.

- Влияние стандартизации признаков на модель линейной регрессии
- Интерпретация модели линейной регрессии 

В качестве набора данных мы будем пользоваться данными о стоимости домов в King County, Wahington, USA. Перед вами стоит задача предсказания стоимости дома.

## 1. Обучите линейную модель

1. Для обучения используйте только набор данных `kc_house_data_train.csv`, набором данных `kc_house_data_test.csv` вы воспользуетесь в самом конце для тестирования качества.

2. Разбейте выборку `kc_house_data_train.csv` на тренировочную и валидационную в отношении 7:3. Используйте `sklearn.model_selection.train_test_split`. Исключите из рассмотрения столбцы `id`, `zipcode`, `lat`, `long`.

3. Обучите линейную модель `sklearn.linear_model.LinearRegression` (с параметрами по умолчанию) на предсказание столбца `price`.  - Чему равно качество такой модели в терминах Mean Squared Error на тренировочной и валидационной выборке?
- Какие признаки имеют наибольший положительный и отрицательный вес? Насколько это согласуется с вашей интуицией?

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_columns=30

In [4]:
! git clone 'https://github.com/vanekek/iitp-ml-ds'

Cloning into 'iitp-ml-ds'...
remote: Enumerating objects: 169, done.
remote: Counting objects: 100% (169/169), done.
remote: Compressing objects: 100% (129/129), done.
remote: Total 169 (delta 73), reused 122 (delta 35), pack-reused 0
Receiving objects: 100% (169/169), 6.77 MiB | 24.93 MiB/s, done.
Resolving deltas: 100% (73/73), done.

In [31]:
df1 = pd.read_csv('/content/iitp-ml-ds/2023/seminar-2-lin-reg/kc_house_data_train.csv', index_col=0)

In [32]:
df1.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21162,8691440440,20141003T000000,882990.0,4,3.50,3560,6562,2.0,0,0,3,10,3560,0,2014,0,98075,47.5929,-121.974,3710,6562
16877,2725069108,20140805T000000,750000.0,3,3.25,4610,81935,2.0,0,0,4,9,4610,0,1984,0,98074,47.6217,-122.021,2900,43500
16116,8026200080,20140715T000000,372000.0,4,1.75,1890,10550,1.0,0,0,5,7,1010,880,1969,0,98056,47.5147,-122.193,1930,7291
9557,2487700065,20140505T000000,400000.0,2,1.00,840,5510,1.0,0,0,3,7,840,0,1955,0,98136,47.5247,-122.391,1630,5510
16302,7397300170,20140530T000000,3710000.0,4,3.50,5550,28078,2.0,0,2,4,12,3350,2200,2000,0,98039,47.6395,-122.234,2980,19602

In [33]:
df1.drop(columns=['id','zipcode','lat','long','date'],inplace=True)

In [34]:
df1.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
21162,882990.0,4,3.50,3560,6562,2.0,0,0,3,10,3560,0,2014,0,3710,6562
16877,750000.0,3,3.25,4610,81935,2.0,0,0,4,9,4610,0,1984,0,2900,43500
16116,372000.0,4,1.75,1890,10550,1.0,0,0,5,7,1010,880,1969,0,1930,7291
9557,400000.0,2,1.00,840,5510,1.0,0,0,3,7,840,0,1955,0,1630,5510
16302,3710000.0,4,3.50,5550,28078,2.0,0,2,4,12,3350,2200,2000,0,2980,19602

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
y = df1['price'].values
df1.drop(columns=['price'], inplace=True)

In [37]:
X_train, X_valid, y_train, y_valid = train_test_split(df1, y, test_size = 0.3)

In [38]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [39]:
lr_1 = LinearRegression()
lr_1.fit(X_train,y_train)
y_pred_train = lr_1.predict(X_train)
y_pred_valid = lr_1.predict(X_valid)

In [41]:
LR = []
for item in sorted(list(zip(X_train.columns, list(lr_1.coef_))), reverse=True, key = lambda x: x[1]) :
    LR.append(item[0])
    print('Feature: {} -- weight: {}'.format(item[0], item[1]))
print('Intercept: ', lr_1.intercept_)
print('MSE: ', mean_squared_error(y_train, y_pred_train))
print('MSE on valid: ', mean_squared_error(y_valid, y_pred_valid))

Feature: waterfront -- weight: 561050.4657321665
Feature: grade -- weight: 121214.14429667816
Feature: bathrooms -- weight: 64869.721209393014
Feature: view -- weight: 48357.82643902249
Feature: floors -- weight: 18827.501961991227
Feature: condition -- weight: 11361.232057011788
Feature: sqft_living -- weight: 107.84918347643179
Feature: sqft_above -- weight: 56.668863824195796
Feature: sqft_basement -- weight: 51.18031991299267
Feature: sqft_living15 -- weight: 18.583910679530163
Feature: yr_renovated -- weight: 10.311855702485005
Feature: sqft_lot -- weight: -0.10044834778818768
Feature: sqft_lot15 -- weight: -0.4599110097369703
Feature: yr_built -- weight: -3803.164528867153
Feature: bedrooms -- weight: -45582.78211053647
Intercept:  6672424.490424239
MSE:  47893529623.87028
MSE on valid:  44354402170.49311

## 2. Стандартизация признаков

Поскольку в линейной модели мы ищем целевую характеристику ввиде линейной комбинации признаков, то мы бы хотели чтобы величины признаков измерялись в сопоставимых масштабах. Сравните различные подходы к стандартизации признаков:

1. Стандартизация или z-scoring: (x - mean(x)) / std(x). Среднее каждого признака становится равно 0, стандартное отклонение становится равно 1.
2. Нормализация к [0, 1]: (x - min(x)) / (max(x) - min(x))
3. Логарифмирование: log(x + 1). Потенциальным недостатком первых двух подходов является необходимость подсчета статистик на тренировочной выборке и применение их на тестовой.

Обратите внимание что подсчет всех статистик mean, std, min, max должен производиться на тренировочной части данных и применяться к тестовой (потому что на практике у вас нет никакой статистики на этапе предсказание, вы делаете предсказание для конкретного 1ого дома).

Воспользуйтесь методами `sklearn.preprocessing.StandardScaler` и `sklearn.preprocessing.MinMaxScaler`. Обучайте модель линейной регрессии на тренировочной части данных, делайте предсказание и оценивайте качество на валидационной.

4. Какой из подходов дает наилучшее качество (включая отсутствие какой бы то нибыло стандартизации данных)?
5. Как меняются веса признаков в линейной модели при применении различных видов стандартизации?

In [19]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

##Z-Scoring##

In [43]:
scaler_1 = StandardScaler()
scaler_1.fit(X_train)
X_train_scaled = scaler_1.transform(X_train)
X_valid_scaled = scaler_1.transform(X_valid)
lr_1.fit(X_train_scaled, y_train)
y_pred_valid_scaled = lr_1.predict(X_valid_scaled)
LR_standartized = []
for item in sorted(list(zip(X_train.columns, list(lr_1.coef_))), reverse=True, key = lambda x: x[1]) :
  LR_standartized.append(item[0])
  print('Feature: {} -- weight: {}'.format(item[0], item[1]))
print('Intercept: ', lr_1.intercept_)
print('MSE on scaled valid: ', mean_squared_error(y_valid, y_pred_valid_scaled))

Feature: grade -- weight: 141172.58977136668
Feature: sqft_living -- weight: 76206.16800231877
Feature: sqft_above -- weight: 66703.33911821386
Feature: bathrooms -- weight: 49857.272053014836
Feature: waterfront -- weight: 48399.526382425705
Feature: view -- weight: 37290.55036257096
Feature: sqft_basement -- weight: 33801.637687875926
Feature: sqft_living15 -- weight: 12646.293794200574
Feature: floors -- weight: 10160.679305881711
Feature: condition -- weight: 7341.436921041934
Feature: yr_renovated -- weight: 4198.414364351342
Feature: sqft_lot -- weight: -3854.828380182573
Feature: sqft_lot15 -- weight: -12585.054412358702
Feature: bedrooms -- weight: -42246.88680050508
Feature: yr_built -- weight: -111986.65104850987
Intercept:  540538.186464088
MSE on scaled valid:  44354402170.496315

In [36]:
X_train_scaled

array([[ 0.65237299, -0.4743402 , -0.95586304, ..., -0.2112404 ,
        -0.72381727, -0.17220342],
       [-0.38536283,  0.17555332,  0.11036903, ..., -0.2112404 ,
         0.11127528,  3.80731697],
       [-0.38536283, -1.44918049, -0.60770563, ..., -0.2112404 ,
        -0.70916652, -0.18282255],
       ...,
       [ 0.65237299,  0.50050008,  0.80668385, ..., -0.2112404 ,
        -1.00218145, -0.15068197],
       [-0.38536283, -0.14939344, -0.34658757, ..., -0.2112404 ,
         0.88776484, -0.21467995],
       [-1.42309864, -1.44918049, -1.32578028, ..., -0.2112404 ,
        -0.72381727, -0.30625228]])

#Min-Max#

In [44]:
scaler_2 = MinMaxScaler()
scaler_2.fit(X_train)
X_train_scaled = scaler_2.transform(X_train)
X_valid_scaled = scaler_2.transform(X_valid)
lr_1.fit(X_train_scaled, y_train)
y_pred_valid_scaled = lr_1.predict(X_valid_scaled)
LR_normalized = []
for item in sorted(list(zip(X_train.columns, list(lr_1.coef_))), reverse=True, key = lambda x: x[1]) :
  LR_normalized.append(item[0])
  print('Feature: {} -- weight: {}'.format(item[0], item[1]))
print('Intercept: ', lr_1.intercept_)
print('MSE on scaled valid: ', mean_squared_error(y_valid, y_pred_valid_scaled))

Feature: grade -- weight: 1454569.7315599832
Feature: sqft_above -- weight: 938320.91276702
Feature: sqft_living -- weight: 816623.7655316015
Feature: waterfront -- weight: 561050.465732121
Feature: bathrooms -- weight: 518957.76967660943
Feature: sqft_basement -- weight: 469456.0516303936
Feature: view -- weight: 193431.3057561737
Feature: sqft_living15 -- weight: 106132.7138911963
Feature: floors -- weight: 47068.75490496337
Feature: condition -- weight: 45444.92822806067
Feature: yr_renovated -- weight: 20778.38924054868
Feature: sqft_lot -- weight: -102813.70548374321
Feature: sqft_lot15 -- weight: -400370.9304178779
Feature: yr_built -- weight: -437363.9208196856
Feature: bedrooms -- weight: -501410.6032169952
Intercept:  -347415.7964367374
MSE on scaled valid:  44354402170.49631

#Log#

In [45]:
X_train_log = np.log(X_train + 1)
X_valid_log = np.log(X_valid + 1)
lr_1.fit(X_train_log, y_train)
y_pred_valid_scaled = lr_1.predict(X_valid_log)
LR_log = []
for item in sorted(list(zip(X_train.columns, list(lr_1.coef_))), reverse=True, key = lambda x: x[1]) :
  LR_log.append(item[0])
  print('Feature: {} -- weight: {}'.format(item[0], item[1]))
print('Intercept: ', lr_1.intercept_)
print('MSE on scaled valid: ', mean_squared_error(y_valid, y_pred_valid_scaled))

Feature: grade -- weight: 1183542.6037200044
Feature: waterfront -- weight: 920849.2098312945
Feature: sqft_above -- weight: 360452.75064545986
Feature: bathrooms -- weight: 181156.2355734179
Feature: view -- weight: 126101.20015358823
Feature: sqft_living15 -- weight: 105357.6655876625
Feature: condition -- weight: 55466.0457300703
Feature: sqft_basement -- weight: 22808.389107180294
Feature: yr_renovated -- weight: 4474.075685207332
Feature: floors -- weight: 2810.017985825265
Feature: sqft_lot -- weight: -665.4016370015743
Feature: sqft_lot15 -- weight: -19999.370347650605
Feature: sqft_living -- weight: -135600.7337527991
Feature: bedrooms -- weight: -139042.82786548065
Feature: yr_built -- weight: -7466956.603426005
Intercept:  52234069.89877871
MSE on scaled valid:  51791815154.80823

## 3. Отбор признаков

1. Воспользуйтесь методом `sklearn.feature_selection.RFE` для отбора 5 наиболее важных признаков. 
- сравните как меняется результат для 3 подходов к стандартизации признаков и для случая без нормировки
- в рамках каждого подхода сравните отобранные 10 признаков с 10 признаками имеющими наибольшую важность для базовой модели (обученной на всех данных). Подготовьте таблицу важности признаков, в которой каждый столбец соответствует какому-то методу нормировки данных. Сравните какие признаки оказываются важными в разных сценариях. Прокомментируйте полученный результат.

|LR|LR-standartized|LR-normalized|LR-log|LR-standartized-RFE|LR-normalized-RFE|LR-log-RFE|

2.

In [24]:
from sklearn.feature_selection import RFE

In [28]:
feature_importance = pd.DataFrame(data = np.empty((10,7)), index = range(1,11), columns = ['LR', 'LR-standartized', 'LR-normalized', 'LR-log', 'LR-standartized-RFE', 'LR-normalized-RFE', 'LR-log-RFE'])
feature_importance

,LR,LR-standartized,LR-normalized,LR-log,LR-standartized-RFE,LR-normalized-RFE,LR-log-RFE
1,3.571774e-316,0.000000e+00,2.559260e-321,NaN,6.917893e-310,0.000000e+00,4.914611e+252
2,2.117762e+161,1.276164e-152,3.092529e+262,1.695929e-152,2.609885e+180,5.020659e+276,5.046207e+180
3,5.981822e-154,1.344436e+161,5.834395e+252,2.047239e+190,1.060986e-153,4.701103e+180,3.584239e+246
4,4.272556e+180,2.889806e+204,5.743454e+257,6.013470e-154,2.078927e+262,1.693748e+190,6.964129e+252
5,5.818943e+78,2.285716e-152,6.010999e+175,3.087984e+169,1.143234e+243,2.460887e-154,2.309082e+251
6,7.698438e+218,4.193384e+228,1.708875e+214,6.013344e-154,9.235461e+242,2.529608e-258,6.013470e-154
7,4.475938e-91,6.013470e-154,1.948608e-153,4.701024e+180,1.490055e+195,6.566298e+199,3.103520e+169
8,3.992842e+252,5.981298e-154,6.363847e+246,5.140079e+252,4.118998e-27,1.287806e+214,4.725704e+257
9,4.818072e+233,1.505897e+161,8.882096e+247,6.967422e+252,6.013345e-154,6.013470e-154,6.201982e+223
10,1.946732e+227,4.536898e+217,3.517563e+180,2.037219e+174,2.088064e-115,2.441411e-152,7.530469e+252

In [55]:
feature_importance.loc[:,'LR'] = LR[:10]
feature_importance.loc[:,'LR-standartized'] = LR_standartized[:10]
feature_importance.loc[:,'LR-normalized'] = LR_normalized[:10]
feature_importance.loc[:,'LR-log'] = LR_log[:10]
feature_importance

,LR,LR-standartized,LR-normalized,LR-log,LR-standartized-RFE,LR-normalized-RFE,LR-log-RFE
1,waterfront,grade,grade,grade,6.917893e-310,0.000000e+00,4.914611e+252
2,grade,sqft_living,sqft_above,waterfront,2.609885e+180,5.020659e+276,5.046207e+180
3,bathrooms,sqft_above,sqft_living,sqft_above,1.060986e-153,4.701103e+180,3.584239e+246
4,view,bathrooms,waterfront,bathrooms,2.078927e+262,1.693748e+190,6.964129e+252
5,floors,waterfront,bathrooms,view,1.143234e+243,2.460887e-154,2.309082e+251
6,condition,view,sqft_basement,sqft_living15,9.235461e+242,2.529608e-258,6.013470e-154
7,sqft_living,sqft_basement,view,condition,1.490055e+195,6.566298e+199,3.103520e+169
8,sqft_above,sqft_living15,sqft_living15,sqft_basement,4.118998e-27,1.287806e+214,4.725704e+257
9,sqft_basement,floors,floors,yr_renovated,6.013345e-154,6.013470e-154,6.201982e+223
10,sqft_living15,condition,condition,floors,2.088064e-115,2.441411e-152,7.530469e+252

#+ RFE#

In [57]:
lr_2 = LinearRegression()
selector = RFE(lr_2, n_features_to_select=1)

In [79]:
scaler_1 = StandardScaler()
scaler_1.fit(X_train)
X_train_scaled = scaler_1.transform(X_train)
X_valid_scaled = scaler_1.transform(X_valid)
selector.fit(X_train_scaled, y_train)
LR_standartized_RFE = [x[0] for x in sorted(list(zip(X_train.columns, selector.ranking_)), reverse = False, key = lambda x: x[1])]
feature_importance.loc[0:5,'LR-standartized-RFE'] = LR_standartized_RFE[0:5]

In [80]:
scaler_2 = MinMaxScaler()
scaler_2.fit(X_train)
X_train_scaled = scaler_2.transform(X_train)
X_valid_scaled = scaler_2.transform(X_valid)
selector.fit(X_train_scaled, y_train)
LR_normalized_RFE = [x[0] for x in sorted(list(zip(X_train.columns, selector.ranking_)), reverse = False, key = lambda x: x[1])]
feature_importance.loc[0:5,'LR-normalized-RFE'] = LR_normalized_RFE[0:5]

In [81]:
X_train_log = np.log(X_train + 1)
X_valid_log = np.log(X_valid + 1)
selector.fit(X_train_log, y_train)
LR_log_RFE = [x[0] for x in sorted(list(zip(X_train.columns, selector.ranking_)), reverse = False, key = lambda x: x[1])]
feature_importance.loc[0:5,'LR-log-RFE'] = LR_log_RFE[0:5]

In [82]:
feature_importance.loc[6:,'LR-log-RFE'] = np.NaN
feature_importance.loc[6:,'LR-normalized-RFE'] = np.NaN
feature_importance.loc[6:,'LR-standartized-RFE'] = np.NaN

In [83]:
feature_importance

,LR,LR-standartized,LR-normalized,LR-log,LR-standartized-RFE,LR-normalized-RFE,LR-log-RFE
1,waterfront,grade,grade,grade,sqft_living,sqft_living,yr_built
2,grade,sqft_living,sqft_above,waterfront,grade,grade,grade
3,bathrooms,sqft_above,sqft_living,sqft_above,yr_built,waterfront,waterfront
4,view,bathrooms,waterfront,bathrooms,waterfront,sqft_above,bathrooms
5,floors,waterfront,bathrooms,view,bathrooms,sqft_basement,sqft_living
6,condition,view,sqft_basement,sqft_living15,NaN,NaN,NaN
7,sqft_living,sqft_basement,view,condition,NaN,NaN,NaN
8,sqft_above,sqft_living15,sqft_living15,sqft_basement,NaN,NaN,NaN
9,sqft_basement,floors,floors,yr_renovated,NaN,NaN,NaN
10,sqft_living15,condition,condition,floors,NaN,NaN,NaN

## Подготовьте репорт о выполненном домашнем задании

Подготовьте текстовый репорт о выполенном домашнем задании. 

Вы можете вставлять в текст таблицы и/или графики на ваше усмотрение, текст репорта должен быть в двухколоночном формате не более 2 страниц 12 кеглем Times New Roman (крайне желательно 1 страница), см. шаблон https://docs.google.com/document/d/1YqnO0OFbTR7XgzmdWryQF22J1kl9Fg7hSlNbqa6Jbiw/edit?usp=sharing

Подготовленный репорт и jupyter notebook c вашим решением необходимо отправить на почту kurmukovai@gmail.com, с темой письма [iitp-intro-ds-2023-ha2-Surname], например [iitp-intro-ds-2023-ha2-Kurmukov] до 23:59:59 МСК 04.03.2023.